# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
/TCG/nbproject/private/
/TCG/nbproject/genfiles.properties
/TCG/nbproject/build-impl.xml
/TCG/nbproject/project.xml
/TCG/nbproject/project.properties
/TCG/build.xml